@model Kusumgar.Models.ComplaintViewModel
@using KusumgarBusinessEntities.Common
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/CRM/Event/complaint_event.js"></script>
<script src="~/Scripts/CRM/Method/complaint_method.js"></script>
<script src="~/Scripts/CRM/Validation/complaint_validation.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Complaint

            <small>Add</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Complaint</li>
        </ol>
    </section>
    <form id="frmComp">
        <input type="hidden" class="form-control input-sm" name="Complaint.ComplaintEntity.ComplaintId" id="hdnComplaint_Id" value="@Model.Complaint.ComplaintEntity.ComplaintId">        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Complaint Information</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">                            
                            <div class="row">
                                <div class="col-md-6">                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtCustomer_Name" style="color: #333">Customer Name</label>
                                                <div class="auto-complete">
                                                    <input type="text" class="form-control input-sm" name="Complaint.CustomerName" id="txtCustomer_Name" placeholder="Enter Customer Name" value="@Model.Complaint.CustomerName">
                                                    <input type="hidden" id="hdnCustId" value="@(Model.Complaint.ComplaintEntity.CustomerId == 0 ? "" : Model.Complaint.ComplaintEntity.CustomerId.ToString())" name="Complaint.ComplaintEntity.CustomerId" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtOrdId" style="color: #333">Order Id</label>
                                                <input type="text" class="form-control input-sm" name="Complaint.ComplaintEntity.OrderId" id="txtOrdId" placeholder="Enter Order Id" value="@Model.Complaint.ComplaintEntity.OrderId">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtOrdItemId" style="color: #333">Order Item Id</label>
                                                <input type="text" class="form-control input-sm" name="Complaint.ComplaintEntity.OrderItemId" id="txtOrdItemId" placeholder="Enter Order Item Id" value="@Model.Complaint.ComplaintEntity.OrderItemId">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtChallanNo" style="color: #333">Challan No</label>
                                                <input type="text" class="form-control input-sm" name="Complaint.ComplaintEntity.ChallanNo" id="txtChallanNo" placeholder="Enter Challan No" value="@Model.Complaint.ComplaintEntity.ChallanNo">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDescription" style="color: #333">Description</label>
                                                <textarea class="form-control input-sm" id="txtDescription" placeholder="Enter Complaint Description" name="Complaint.ComplaintEntity.CDescription">@Model.Complaint.ComplaintEntity.CDescription</textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="btn-group">
                                <button type="button" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                <a href="@Url.Action("Search", "Complaint")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->
        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->
