@model Kusumgar.Models.GArticleViewModel
@using KusumgarBusinessEntities.Common


<script src="~/Scripts/Master/Event/g_article_listing_event.js"></script>
<script src="~/Scripts/Master/Method/g_article_listing_method.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            G Article

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active"> G Article Search</li>
        </ol>
    </section>

    <form id="frmSearch_G_Article">
    
            <input type="hidden" id="hdfCurrent_Page" name="Pager.Current_Page" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdnG_Article_Id" name="G_Article.G_Article_Id"  value="@Model.G_Article.G_Article_Id" />
        <!-- Main content -->
        <section class="content">
            <!-- G Article Search -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtFullCode">Full Code</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtFull_Code" placeholder="Enter Full Code" />
                                            <input type="hidden" name="Filter.Full_Code" id="hdnFull_Code" value="@Model.Filter.Full_Code" class="auto-complete-label" />
                                            <input type="hidden" id="hdfG_Article_Id" value="@Model.Filter.G_Article_Id" name="Filter.G_Article_Id" class="auto-complete-value" />
                                        </div>
                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFullCode">Yarn Type</label>
                                        <select id="drpYarn_type" class="form-control input-sm">
                                            <option>Select Yarn type</option>
                                            @if (Model.Attribute_Codes.Count > 0)
                                            {
                                                foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Yarn_type.ToString()))
                                                {
                                                    if (Model.G_Article.Yarn_Type_Id == item.Attribute_Code_Id)
                                                    {
                                                        <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group pull-left">
                                            <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","GArticle")" role="button">Create G Article</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning">Edit G Article</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblG_Article">
                                <tr>
                                    <th style="width:50px;"></th>
                                    <th style="width:400px;">Full Code</th>
                                    <th style="width:200px;">Yarn Type</th>
                                    <th style="width:200px;">QualityNo</th>
                                    <th style="width:200px;">Weave</th>
                                    <th style="width:200px;">Grey Width Cms</th>
                                    <th style="width:200px;">GSM</th>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->

