@{
    ViewBag.Title = "Customer";
}

<script src="~/Scripts/Master/Event/defect_event.js"></script>
<script src="~/Scripts/Master/Method/defect_method.js"></script>
<script src="~/Scripts/Master/Validation/defect_validation.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Defect
           
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Defect</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="frmDefect" method="post">
                        <div class="box-body">
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    
                                    <input type="hidden" id="hdfPageSize" name="" value="" />
                                    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
                                    <input type="hidden" id="hdfIsPagingRequired" name="" value="" />
                                   
                                     <input type="hidden" id="hdfDefectId" name="Defect.DefectId" value="@Model.Defect.DefectId" />
                                    
                                    <div class="form-group">
                                        <label>Defect - Type</label>
                                        <select class="form-control" id="drpDefectTypeName" name="Defect.DefectTypeName">
                                            <option value="">Select Defect-Type</option>
                                            @foreach (var item in Model.DefectType)
                                            {
                                                if (Model.Defect.DefectTypeId == item.DefectTypeId)
                                                {
                                                    <option value="@item.DefectTypeId" selected="selected">@item.DefectTypeName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.DefectTypeId">@item.DefectTypeName</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                 
                                    <div class="form-group">
                                        <label for="txtDefectCode">Defect Code</label>
                                        <input type="text" class="form-control" id="txtDefectCode" name="Defect.DefectCode" value="@Model.Defect.DefectCode" placeholder="Enter defect code">
                                        
                                    </div>

                                    <div class="form-group">
                                        <label for="txtDefectName">Defect Name</label>
                                        <input type="text" class="form-control" id="txtDefectName" name="Defect.DefectName" value="@Model.Defect.DefectName" placeholder="Enter defect name">
                                        
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @if (Model.Defect.Status == true)
                                            {
                                                @:<input type="checkbox" name="Defect.Status" value="false" checked />
                                                                                               }
                                            else
                                            {
                                                @:<input type="checkbox" name="Defect.Status" value="true" />
                                               }
                                            &nbsp;&nbsp;&nbsp;&nbsp; Approved Status

                                        </label>
                                    </div>
                                    
                                </div>

                                <div class="col-md-8">

                                    <table class="table table-striped" id="tblSearchDefect" style="display:none;">
                                        <tr>

                                            <th>Defect Type</th>
                                            <th>DefectCode</th>
                                            <th>DefectName</th>
                                            <th style="width:100px;">Status</th>
                                        </tr>
                                    </table>
  
                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="submit" id="btnSave" class="btn btn-success">Save</button>
                                <a href="@Url.Action("Search","Defect")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>

                            </div>

                        </div>
                        <!-- /.box-body -->

                    </form>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });
    });
</script>
