@model Kusumgar.Models.ContactViewModel
@using KusumgarBusinessEntities.Common  
<script src="/Scripts/CRM/Event/custom_field_event.js"></script>
<script src="/Scripts/CRM/Method/custom_field_method.js"></script>
<script src="/Scripts/CRM/Validation/custom_field_validation.js"></script>
<form id="frmCustom_Fields">

    <input type="hidden" id="hdnContact_Custom_Field_Id">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" id="hdn_Contact_Custom_Field_Id">
            <div class="form-group">
                <label style="color: #333">Field name :</label>
                <input type="text" id="txtField_Name" class="form-control input-sm" name="Field_Name" placeholder="Enter field Name" />
            </div>

            <div class="form-group">
                <label style="color: #333">Field value :</label>
                <input type="text" id="txtField_Value" class="form-control input-sm" name="Field_Value" placeholder="Enter field value" />
                <!-- /.input group -->
            </div>

        </div>

        <div class="col-md-8 ">
            <table class="table table-hover" id="tblCustom_Fields">
                <tr>
                    <th>Field name</th>
                    <th>Field value</th>
                    <th style="min-width: 81px;">&nbsp; </th>
                </tr>
                @foreach (var item in Model.contact.Contact_Custom_Fields_List)
                {

                    <tr id="cust_tr_@item.Custom_Fields_Entity.Contact_Custom_Field_Id">

                        <td>@item.Custom_Fields_Entity.Field_Name</td>
                        <td>@item.Custom_Fields_Entity.Field_Value</td>
                        <td>
                            <input type="hidden" class="hdn_Contact_Custom_Field_Id" value="@item.Custom_Fields_Entity.Contact_Custom_Field_Id">

                            <input type="hidden" class="Field_Name" value="@item.Custom_Fields_Entity.Field_Name">
                            <input type="hidden" class="Field_Value" value="@item.Custom_Fields_Entity.Field_Value">

                            <div class="btn-group pull-right">
                                <button type="button" id="btnEdit" class="btn btn-info btn-sm" onclick="EditCustomFields(@item.Custom_Fields_Entity.Contact_Custom_Field_Id)"><i class='fa fa-pencil-square-o'></i></button>
                                <button type="button" id="btnRemove" class="btn btn-danger btn-sm " onclick="RemoveCustomFields(@item.Custom_Fields_Entity.Contact_Custom_Field_Id)"><i class='fa fa-times'></i></button>
                            </div>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-success btn-sm" id="btnSaveCustomField">Save custom field</button>
        <a href="@Url.Action("Search","Contact")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel</a>
    </div>

</form>