@model Kusumgar.Models.ContactViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/CRM/Event/contact_event.js"></script>
<script src="/Scripts/CRM/Method/contact_method.js"></script>
<script src="/Scripts/CRM/Validation/contact_validation.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contact

            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Contact</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" id="tabcontact" data-toggle="tab">Customer's contact</a></li>
                        @*<li><a href="#tab_2" data-toggle="tab">Supplier's contact</a></li>*@
                        <li><a href="#tab_3" data-toggle="tab" id="tabcustom_fields">Custom fields</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    @* hidden Fields *@
                    <input type="hidden" id="hdnContact_Id" name="" value="@Model.Contact.Contact_Id">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <br />
                            <form id="frmContact">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color: #333" for="txtCustomer_Name">Customer name</label>
                                            <div class="auto-complete">
                                                <input type="text" class="form-control input-sm" id="txtCustomer_Name" placeholder="Enter customer name"  value="@Model.Contact.Customer_Name">
                                                <input type="hidden" id="hdnCustomer_Id" value="@(Model.Contact.Customer_Id == 0 ? "" : Model.Contact.Customer_Id.ToString())" name="contact.Customer_Id" class="auto-complete-value">
                                                <input type="hidden" id="hdnContact_Name" value="@Model.Contact.Customer_Name" name="contact.Customer_Name" class="auto-complete-label">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333" for="txtContactName">Contact name</label>
                                            <input type="text" class="form-control input-sm" id="txtContact_Name" placeholder="Enter contact name" value="@Model.Contact.Contact_Name" name="contact.Contact_Name">
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333" for="txtDesignation">Designation</label>
                                            <input type="text" class="form-control input-sm" id="txtDesignation" placeholder="Enter designation" value="@Model.Contact.Designation" name="contact.Designation">
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333" for="txtPersonal_Email">Personal email</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input type="text" class="form-control input-sm" id="txtPersonal_Email" placeholder="Enter email" value="@Model.Contact.Personal_Email" name="contact.Personal_Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color: #333">Office address</label>
                                            <textarea class="form-control input-sm" id="txtOffice_Address" rows="2" placeholder="Enter office address" name="contact.Office_Address">@Model.Contact.Office_Address</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333" for="txtOffice_Email">Official email Id</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input type="text" class="form-control input-sm" id="txtOffice_Email" placeholder="Enter email" value="@Model.Contact.Official_Email" name="contact.Official_Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">Landline 1:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" id="txtOffice_Landline1" class="form-control input-sm" data-inputmask='"mask": "(999) 999-9999"' data-mask name="contact.Office_Landline1" value="@Model.Contact.Office_Landline1" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">Landline 2:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" id="txtOffice_Landline2" class="form-control input-sm" data-inputmask='"mask": "(999) 999-9999"' data-mask name="contact.Office_Landline2" value="@Model.Contact.Office_Landline2" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">Mobile 1:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                                <input type="text" id="txtMobile1" class="form-control input-sm" data-inputmask='"mask": "(99) 9999999999"' data-mask name="contact.Mobile1" value="@Model.Contact.Mobile1" maxlength="10" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">Mobile 2:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                                <input type="text" id="txtMobile2" class="form-control input-sm" data-inputmask='"mask": "(99) 9999999999"' data-mask name="contact.Mobile2" value="@Model.Contact.Mobile2" maxlength="10" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color: #333">DMU status influence</label>
                                            <select class="form-control input-sm" id="drpDMU_Status_Influence" name="contact.DMU_Status_Influence">
                                                <option value="">-Select DMU Status Influence-</option>
                                                @foreach (var item in LookupInfo.Get_DMU_Status_Influence())
                                                {
                                                    if (Model.Contact.DMU_Status_Influence == item.Key)
                                                    {
                                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Key">@item.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">DMU status role</label>
                                            <select class="form-control input-sm" id="drpDMU_Status_Role" name="contact.DMU_Status_Role">
                                                <option value="">-Select DMU Status Role-</option>
                                                @foreach (var item in LookupInfo.Get_DMU_Status_Role())
                                                {
                                                    if (Model.Contact.DMU_Status_Role == item.Key)
                                                    {
                                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Key">@item.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: #333">
                                                <input type="checkbox" name="chkIsBilling_Contact" checked />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Billing contact
                                                <input type="hidden" id="hdnBilling_Contact" name="contact.Is_Billing_Contact" value="@Model.Contact.Is_Billing_Contact.ToString()">
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label style="color: #333">
                                                <input type="checkbox" name="chk_Status" checked />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Active status
                                                <input type="hidden" id="hdnIs_Active" name="contact.Is_Active" value="@Model.Contact.Is_Active.ToString()">
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="box-footer">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm" id="btnCustomer_Contact">Save contact</button>
                                        <a href="@Url.Action("Search","Contact")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <br />
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label for="txtCustomerName">Supplier name</label>
                                        <input type="text" class="form-control" id="txtCustomerName" placeholder="Enter customer name">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtContactName">Contact name</label>
                                        <input type="text" class="form-control" id="txtContactName" placeholder="Enter contact name">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCustomerName">Designation</label>
                                        <input type="text" class="form-control" id="txtCustomerName" placeholder="Enter designation">

                                    </div>

                                    <div class="form-group">
                                        <label for="txtEmailId">Office Email </label>

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="text" class="form-control" id="txtEmailId" placeholder="Enter email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="chkStatus" checked />
                                            &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                                            <input type="hidden" class="form-control input-sm" id="hdnIs_Active" name="Customer.Is_Active">
                                        </label>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <!-- Head Office Details -->
                                    <div class="form-group">
                                        <label>Office Address</label>
                                        <textarea class="form-control" rows="2" placeholder="Enter office address"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Landline 1:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" id="txtHeadOfficeLandline1" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>Landline 2:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" id="txtHeadOfficeLandline2" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile 1:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                            <input type="text" id="txtHeadOfficeLandline1" class="form-control" data-inputmask='"mask": "(99) 9999999999"' data-mask />
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile 2:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                            <input type="text" id="txtHeadOfficeLandline2" class="form-control" data-inputmask='"mask": "(99) 9999999999"' data-mask />
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- Head Office Details Ends-->
                                </div>

                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFreeField1">Free Field 1</label>
                                        <input type="text" class="form-control" id="txtFreeField1" placeholder="Enter <Field Name> : <Field Value>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtFreeField2">Free Field 2</label>
                                        <input type="text" class="form-control" id="txtFreeField2" placeholder="Enter <Field Name> : <Field Value>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtFreeField3">Free Field 3</label>
                                        <input type="text" class="form-control" id="txtFreeField3" placeholder="Enter <Field Name> : <Field Value>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtFreeField4">Free Field 4</label>
                                        <input type="text" class="form-control" id="txtFreeField4" placeholder="Enter <Field Name> : <Field Value>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtFreeField5">Free Field 5</label>
                                        <input type="text" class="form-control" id="txtFreeField5" placeholder="Enter <Field Name> : <Field Value>">
                                    </div>
                                </div>*@

                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success btn-sm">Save Supplier's Contact</button>
                                <button type="button" id="btnCancel" class="btn btn-warning btn-sm">Cancle and Open Search</button>
                            </div>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <br />
                            @Html.Partial("_CustomFields")
                        </div>

                    </div><!-- /.tab-content -->
                </div><!-- nav-tabs-custom -->
            </div><!-- /.col -->
        </div> <!-- /.row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

 