@model Kusumgar.Models.ContactViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/CRM/Event/contact_listing_event.js"></script>
<script src="/Scripts/CRM/Method/contact_listing_method.js"></script>
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent!important;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contact
            <small>Search</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Contact search</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Customer Search -->
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Search customer's contact</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Search supplier's contact</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form id="frmSearch_contact">
                                <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
                                <input type="hidden" id="hdfContact_Id" name="contact.contact_Entity.Contact_Id">
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtCustomerName">Customer name</label>
                                            <div class="auto-complete">
                                                <input type="text" class="form-control input-sm" id="txtCustomer_Name" placeholder="Enter customer name" name="Filter.Customer_Name" value="@Model.Filter.Customer_Name">
                                                <input type="hidden" id="hdnCustomer_Id" value="@Model.Filter.Customer_Id"  name="Filter.Customer_Id">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group pull-left">
                                                <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                                @*<button type="button" id="btnAdvanceSearch" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Advance Search</button>*@
                                                <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Contact")" role="button">Create</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning btn-sm">Edit</button>
                                                <button type="button" id="btnViewCompany" style="display:none;" class="btn btn-primary btn-sm"> company </button>
                                                <button type="button" id="btnSellProduct" style="display:none;" class="btn btn-primary btn-sm">Sells products</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->


                        <div class="tab-pane" id="tab_2">
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtCustomerName">Suppliers name</label>
                                        <input type="text" class="form-control" id="txtCustomerName" placeholder="Enter suppliers name">
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group pull-left">
                                            <button type="submit" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <button type="button" id="btnAdvanceSearch" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Advance search</button>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Contact")" role="button">Create suppliers contact</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
        </div>
        <!-- Customer Search Ends -->

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped" id="tblcontact">
                            <tr id="subhead">
                                <th></th>
                                <th>Customer name</th>
                                <th>Contact name</th>
                                <th>Email  </th>
                                <th>Office landline 1</th>
                                <th>Office landline 2</th>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="pagination pagination-sm no-margin pull-right">
                            <ul></ul>
                        </div>
                        <div id="divSearchGridOverlay" class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (left) -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Advance search</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtCustomerName">Contact name</label>
                            <input type="text" class="form-control" id="txtCustomerName" placeholder="Enter customer name">
                        </div>
                        <div class="form-group">
                            <label>Designation</label>
                            <select class="form-control" id="drpDesignation">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

