@model Kusumgar.Models.WorkCenterViewModel
@using KusumgarBusinessEntities.Common
@{
    Layout = null;
}
<form id="frmPrintable_Work_Center">
    <input type="hidden" id="hdfWork_Center_Id" name="Work_Center.Work_Center_Id" value="@Model.Work_Center.Work_Center_Id">
    <!-- Main content -->
    <div id="DvPrint">
        <div class="box box-primary">
            <div class="box-header">

                <div class="box-title">
                    Work Center Details
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <input type="hidden" id="hdnWork_Center_Id" name="" value="@Model.Work_Center.Work_Center_Id">
                    <br />
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #333">Factory : </label>@Model.Work_Center.Factory.Factory_Name
                                </div>
                                <div class="form-group">
                                    <label style="color: #333">Work Station : </label> @Model.Work_Center.Work_Station.Work_Station_Name
                                </div>
                                @*<div class="form-group">
                                        <label style="color: #333">Process : </label> @Model.Work_Center.Process
                                    </div>*@
                                @if (Model.Work_Center.Work_Center_Processes.Count > 0)
                                {
                                    <div class="form-group">
                                        <label style="color: #333">Processes : </label>@Model.Process_Names.Trim().Substring(0, (Model.Process_Names.Trim().Length - 1))
                                        @*@foreach (var item in Model.Work_Center.Work_Center_Processes)
                                        {
                                            @item.Process_Name
                                            <h>,</h>
                                        }*@
                                        
                                    </div>

                                }
                                <div class="form-group">
                                    <label style="color: #333">Work Center Code : </label> @Model.Work_Center.Work_Center_Code
                                </div>
                                <div class="form-group">
                                    <label style="color: #333">Machine Name: </label>@Model.Work_Center.Machine_Name
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #333">Machine Properties: </label>@Model.Work_Center.Machine_Properties
                                </div>
                                <div class="form-group">
                                    <label style="color: #333">TPM Speed : </label>@Model.Work_Center.TPM_Speed
                                </div>

                                <div class="form-group">
                                    <label style="color: #333">Average Order Length : </label>@Model.Work_Center.Average_Order_Length
                                </div>

                                <div class="form-group">
                                    <label style="color: #333">Capacity : </label>@Model.Work_Center.Capacity
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #333">Wastage :</label>@Model.Work_Center.Wastage
                                </div>
                                <div class="form-group">
                                    <label style="color: #333">Target Efficiency :</label>@Model.Work_Center.Target_Efficiency
                                </div>

                                @if (Model.Work_Center.Under_Maintainance == true)
                                {
                                    <div class="form-group">
                                        <label style="color: #333">Under Maintainance Status : </label>Yes
                                    </div>

                                }
                                else
                                {
                                    <div class="form-group">
                                        <label style="color: #333">Under Maintainance Status : </label>No
                                    </div>

                                }
                                @if (Model.Work_Center.Is_Active == true)
                                {
                                    <div class="form-group">
                                        <label style="color: #333">Active Status : </label>Active
                                    </div>

                                }
                                else
                                {
                                    <div class="form-group">
                                        <label style="color: #333">Active Status : </label>InActive
                                    </div>

                                }
                            </div>
                        </div>

                    </div>

                </div><!-- /.col -->
            </div>
        </div>
    </div>

    <!-- /.content -->
</form>
