@model Kusumgar.Models.WorkCenterViewModel
@using KusumgarBusinessEntities.Common


<script src="~/Scripts/Master/Event/work_center_event.js"></script>
<script src="~/Scripts/Master/Method/work_center_method.js"></script>
<script src="~/Scripts/Master/Validation/work_center_validation.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Workcenter
           
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Workcenter</li>
        </ol>
    </section>

    <form id="frmWork_Center">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>


                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <br />
                            <div class="row">
                                <div class="col-md-4">

                                    <input type="hidden" id="hdnWork_Center_Id" value="@Model.Work_Center.Work_Center_Entity.Work_Center_Id" name="Work_Center.Work_Center_Entity.Work_Center_Id">
                                    <div class="form-group">
                                        <label>Factory</label>
                                        <select class="form-control input-sm" id="drpFactory" name="Work_Center.Factory_Entity.Factory_Id">
                                            <option value="">-Select factory-</option>
                                            @foreach (var item in Model.Work_Center.Factories)
                                            {
                                                if (Model.Work_Center.Factory.Factory_Entity.Factory_Id == item.Factory_Entity.Factory_Id)
                                                {
                                                    <option value="@item.Factory_Entity.Factory_Id" selected="selected">@item.Factory_Entity.Factory_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Factory_Entity.Factory_Id">@item.Factory_Entity.Factory_Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Work Station</label>
                                        @*<select class="form-control " id="drpWork_Station" name="Work_Center.Work_Center_Entity.Work_Station_Id">*@
                                        <select class="form-control input-sm" id="drpWork_Station" name="Work_Center.Work_Station.Work_Station_Entity.Work_Station_Id">
                                            <option value="">-Select work station-</option>
                                            @foreach (var item in Model.Work_Center.Work_Stations)
                                            {
                                                if (Model.Work_Center.Work_Center_Entity.Work_Station_Id == item.Work_Station_Entity.Work_Station_Id)
                                                {
                                                    <option value="@item.Work_Station_Entity.Work_Station_Id" selected="selected">@item.Work_Station_Entity.Work_Station_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Work_Station_Entity.Work_Station_Id">@item.Work_Station_Entity.Work_Station_Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label>Process</label>
                                        <br />
                                        <div class="btn-group non-iCheck" id="divProcess" data-toggle="buttons">
                                            @{
                                                
                                                foreach (var item in Model.Work_Center.Processes)
                                                {

                                                    if (Model.Work_Center.Work_Center_Processes.Where(a => a.Work_Center_Process_Entity.Process_Id == item.Process_Entity.Process_Id).Count() > 0)
                                                    {
                                                        <label class="btn btn-primary active">
                                                            <input type="checkbox" autocomplete="off" name="ChkProcess" id="ChkProcess" checked="checked" value="@item.Process_Entity.Process_Id"> @item.Process_Entity.Process_Name
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="btn btn-primary ">
                                                            <input type="checkbox" autocomplete="off" name="ChkProcess" id="ChkProcess"  value="@item.Process_Entity.Process_Id"> @item.Process_Entity.Process_Name
                                                        </label>
                                                    }

                                                  }
                                               
                                               
                                                <input type="hidden" id="hdnProcess_Id" name="Work_Center.Process_Ids">
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtWork_Center_Code">Work Center Code</label>
                                        <input type="text" class="form-control input-sm" id="txtWork_Center_Code" name="Work_Center.Work_Center_Entity.Work_Center_Code" placeholder="Enter work center code" value="@Model.Work_Center.Work_Center_Entity.Work_Center_Code" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtMachine_Name">Machine Name</label>
                                        <input type="text" class="form-control input-sm" id="txtMachine_Name" name="Work_Center.Work_Center_Entity.Machine_Name" placeholder="Enter machine name" value="@Model.Work_Center.Work_Center_Entity.Machine_Name" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMachine_Properties">Machine Properties</label>
                                        <textarea class="form-control input-sm" id="txtMachine_Properties" name="Work_Center.Work_Center_Entity.Machine_Properties" placeholder="Enter machine properties">@Model.Work_Center.Work_Center_Entity.Machine_Properties</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTPM_Speed">TPM Speed</label>
                                        <input type="text" class="form-control input-sm" id="txtTPM_Speed" name="Work_Center.Work_Center_Entity.TPM_Speed" placeholder="Enter TPM speed" value="@Model.Work_Center.Work_Center_Entity.TPM_Speed" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtAverage_Order_Length">Average Order Length</label>
                                        <input type="text" class="form-control input-sm" id="txtAverage_Order_Length" name="Work_Center.Work_Center_Entity.Average_Order_Length" placeholder="Enter average order length" value="@Model.Work_Center.Work_Center_Entity.Average_Order_Length" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCapacity">Capacity</label>
                                        <input type="text" class="form-control input-sm" id="txtCapacity" name="Work_Center.Work_Center_Entity.Capacity" placeholder="Enter capacity" value="@Model.Work_Center.Work_Center_Entity.Capacity" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtWastage">Wastage</label>
                                        <input type="text" class="form-control input-sm" id="txtWastage" name="Work_Center.Work_Center_Entity.Wastage" placeholder="Enter wastage" value="@Model.Work_Center.Work_Center_Entity.Wastage" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTarget_Efficiency">Target Efficiency</label>
                                        <input type="text" class="form-control input-sm" id="txtTarget_Efficiency" name="Work_Center.Work_Center_Entity.Target_Efficiency" placeholder="Enter target efficiency" value="@Model.Work_Center.Work_Center_Entity.Target_Efficiency" />
                                    </div>

                                    <div class="form-group">
                                       
                                        @if (Model.Work_Center.Work_Center_Entity.Under_Maintainance == false)
                                        {
                                            <label>
                                                <input type="checkbox" name="chkUnder_Maintainance" />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Under Maintainance Status
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input type="checkbox" name="chkUnder_Maintainance" checked="checked" />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Under Maintainance Status
                                            </label>
                                        }
                                        <input type="hidden" class="form-control input-sm" id="hdnUnder_Maintainance" name="Work_Center.Work_Center_Entity.Under_Maintainance" value="@Model.Work_Center.Work_Center_Entity.Under_Maintainance.ToString()">
                                    </div>

                                    <div class="form-group">
                                        @if (Model.Work_Center.Work_Center_Entity.Is_Active == false)
                                        {
                                            <label>
                                                <input type="checkbox" name="chkIs_Active" />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input type="checkbox" name="chkIs_Active" checked="checked" />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                                            </label>
                                        }
                                        <input type="hidden" class="form-control input-sm" id="hdnIs_Active" name="Work_Center.Work_Center_Entity.Is_Active" value="@Model.Work_Center.Work_Center_Entity.Is_Active.ToString()">

                                    </div>

                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="button" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                <a href="@Url.Action("Search", "Workcenter")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancle and Open Search</a>

                            </div>

                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- /.content -->
      </form>

</div>
<!-- /.content-wrapper -->


