<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Akash Joshi</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active"><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
             <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>CRM</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Search","Customer")"><i class="fa fa-circle-o text-info"></i> Customer </a></li>
                    <li><a href="@Url.Action("Search","Contact")"><i class="fa fa-circle-o text-info"></i> Contact </a></li>
                    <li><a href="@Url.Action("Search","Complaint")"><i class="fa fa-circle-o text-info"></i> Complaint </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Masters</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Search","DefectType")"><i class="fa fa-circle-o text-info"></i> Defect Type </a></li>
                    <li><a href="@Url.Action("Search","Defect")"><i class="fa fa-circle-o text-info"></i> Defect </a></li>
                    <li><a href="@Url.Action("Search","Process")"><i class="fa fa-circle-o text-info"></i> Process </a></li>
                    <li><a href="@Url.Action("Search","ProcessRouteCode")"><i class="fa fa-circle-o text-info"></i> Process Route Code </a></li>
                    <li><a href="@Url.Action("Search","Workcenter")"><i class="fa fa-circle-o text-info"></i> Workcenter </a></li>
                    <li><a href="@Url.Action("Search","TestUnit")"><i class="fa fa-circle-o text-info"></i> Test Unit </a></li>
                    <li><a href="@Url.Action("Search","Test")"><i class="fa fa-circle-o text-info"></i> Test </a></li>

                    
                    <li><a href="@Url.Action("Search", "AttributeCode")"><i class="fa fa-circle-o text-info"></i> Yarn Category Code </a></li>
                    <li><a href="@Url.Action("Search", "YArticle")"><i class="fa fa-circle-o text-info"></i> Y Article </a></li>
                    <li><a href="@Url.Action("Search", "WArticle")"><i class="fa fa-circle-o text-info"></i> W Article </a></li>
                    <li><a href="@Url.Action("Search", "GArticle")"><i class="fa fa-circle-o text-info"></i> G Article </a></li>
                    <li><a href="@Url.Action("Search", "PArticle")"><i class="fa fa-circle-o text-info"></i> P Article </a></li>
                    <li><a href="@Url.Action("Search", "CArticle")"><i class="fa fa-circle-o text-info"></i> C Article </a></li>
                    <li><a href="@Url.Action("Search", "PegPlan")"><i class="fa fa-circle-o text-info"></i> Peg Plan </a></li>
                    <li><a href="@Url.Action("Search", "ArticleProcessWorkcenter")"><i class="fa fa-circle-o text-info"></i> Article Process Workcenter </a></li>
                    <li><a href="@Url.Action("Search", "QualityCreation")"><i class="fa fa-circle-o text-info"></i>Quality Creation</a></li>
                    <li><a href="@Url.Action("Search", "CustomerQualityCreation")"><i class="fa fa-circle-o text-info"></i>Customer Quality Creation</a></li>
                    <li><a href="@Url.Action("Search", "User")"><i class="fa fa-circle-o text-info"></i>Employee</a></li>
                    <li><a href="@Url.Action("Search", "Role")"><i class="fa fa-circle-o text-info"></i>Role</a></li>
                    <li><a href="@Url.Action("Search", "Vendor")"><i class="fa fa-circle-o text-info"></i>Vendor</a></li>
                    <li><a href="@Url.Action("Search", "Industrial")"><i class="fa fa-circle-o text-info"></i>Industrial</a></li>
                    <li><a href="@Url.Action("Search", "Consumable")"><i class="fa fa-circle-o text-info"></i>Consumable</a></li>
                </ul>
            </li>
              <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Sales</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Search", "Enquiry")"><i class="fa fa-circle-o text-info"></i> Enquiry </a></li>
                    <li><a href="@Url.Action("Search_PPC_Checkpoint", "Enquiry")"><i class="fa fa-circle-o text-info"></i> PPC Check point </a></li>
                    <li><a href="@Url.Action("Search_W_Manager_Checkpoint", "Enquiry")"><i class="fa fa-circle-o text-info"></i> W Manager Check point </a></li>
                    <li><a href="@Url.Action("Search_P_Manager_Checkpoint", "Enquiry")"><i class="fa fa-circle-o text-info"></i> P Manager Check point </a></li>
                    <li><a href="@Url.Action("Search_C_Manager_Checkpoint", "Enquiry")"><i class="fa fa-circle-o text-info"></i> C Manager Check point </a></li>
                    <li><a href="@Url.Action("Search_Quality_Manager_Checkpoint", "Enquiry")"><i class="fa fa-circle-o text-info"></i> Quality Manager Check point </a></li>
                    <li><a href="@Url.Action("Search_PPC_Planning", "Enquiry")"><i class="fa fa-circle-o text-info"></i> PPC Planning </a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Layout Options</span>
                    <span class="label label-primary pull-right">4</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                    <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                    <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                    <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
                </a>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Charts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>UI Elements</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Forms</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Tables</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <small class="label pull-right bg-red">3</small>
                </a>
            </li>
            <li>
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Multilevel</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> Documentation</a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-danger"></i> Important</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Warning</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>