@model Kusumgar.Models.TestViewModel


<script src="~/Scripts/Master/Event/test_event.js"></script>
<script src="~/Scripts/Master/Method/test_method.js"></script>
<script src="~/Scripts/Master/Validation/test_validation.js"></script>
<script src="~/Scripts/generic.autocomplete.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Test
           
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Test</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <!-- form start -->

                    <form id="frmTest" method="post">
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-4">

                                    <input type="hidden" id="hdfPageSize" name="" value="" />
                                    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
                                    <input type="hidden" id="hdfIsPagingRequired" name="" value="" />

                                    <input type="hidden" id="hdfTestId" name="Test.Test_Id" value="@Model.Test.Test_Id" />

                                    <div class="form-group">
                                        <label style="color: #333">Fabric Type</label>
                                        <select class="form-control input-sm" id="drpFabricTypeName" name="Test.Fabric_Type_Id">
                                            <option value="">Select Fabric Type </option>


                                            @foreach (var item in Model.Fabric_Type)
                                            {
                                                if (Model.Test.Fabric_Type_Id == item.Fabric_Type_Id)
                                                {
                                                    <option value="@item.Fabric_Type_Id" selected="selected">@item.Fabric_Type_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Fabric_Type_Id">@item.Fabric_Type_Name</option>
                                                }

                                            }

                                        </select>
                                     
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTest" style="color: #333">Test Name</label>
                                        <input type="text" class="form-control input-sm" id="txtTest" name="Test.Test_Name" value="@Model.Test.Test_Name" placeholder="Enter test name">
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit1" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit1" value="@Model.Test.Test_Unit1" name="Test.Test_Unit1" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit1" value="@Model.Test.Test_Unit_Name1" name="Test.Test_Unit_Name1" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit2" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit2" value="@Model.Test.Test_Unit2" name="Test.Test_Unit2" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit2" value="@Model.Test.Test_Unit_Name2" name="Test.Test_Unit_Name2" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit3" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit3" value="@Model.Test.Test_Unit3" name="Test.Test_Unit3" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit3" value="@Model.Test.Test_Unit_Name3" name="Test.Test_Unit_Name3" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit4" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit4" value="@Model.Test.Test_Unit4" name="Test.Test_Unit4" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit4" value="@Model.Test.Test_Unit_Name4" name="Test.Test_Unit_Name4" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit5" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit5" value="@Model.Test.Test_Unit5" name="Test.Test_Unit5" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit5" value="@Model.Test.Test_Unit_Name5" name="Test.Test_Unit_Name5" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit6" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit6" value="@Model.Test.Test_Unit6" name="Test.Test_Unit6" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit6" value="@Model.Test.Test_Unit_Name6" name="Test.Test_Unit_Name6" class="auto-complete-label">
                                        </div>
                                    </div>

                                   
                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit7" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit7" value="@Model.Test.Test_Unit7" name="Test.Test_Unit7" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit7" value="@Model.Test.Test_Unit_Name7" name="Test.Test_Unit_Name7" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit8" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit8" value="@Model.Test.Test_Unit8" name="Test.Test_Unit8" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit8" value="@Model.Test.Test_Unit_Name8" name="Test.Test_Unit_Name8" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit9" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit9" value="@Model.Test.Test_Unit9" name="Test.Test_Unit9" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit9" value="@Model.Test.Test_Unit_Name9" name="Test.Test_Unit_Name9" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtTestUnit10" placeholder="Enter Test Unit" value="">
                                            <input type="hidden" id="hdfTestUnit10" value="@Model.Test.Test_Unit10" name="Test.Test_Unit10" class="auto-complete-value">
                                            <input type="hidden" id="txtTestUnit10" value="@Model.Test.Test_Unit_Name10" name="Test.Test_Unit_Name10" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            @if (Model.Test.Status == true)
                                        {

                                            <input type="checkbox" id="chkIsActive" name="chkIsActive" value="false" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsActive" name="chkIsActive" value="true" />
                                        }
                                        &nbsp;&nbsp;&nbsp;&nbsp; Approved Status

                                        </label>
                                    </div>
                                    <input type="hidden" id="hdnActive" name="Test.TestEntity.Status" value="@Model.Test.TestEntity.Status.ToString()">

                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="btn-group">
                                    <button type="submit" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                    <a href="@Url.Action("Search","Test")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancle</a>

                                </div>
                            </div>

                        </div>

                        <!-- /.box-body -->
                    </form>  
</div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
