@model Kusumgar.Models.ProductViewModel
@using KusumgarBusinessEntities.Common
@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/Master/Event/product_event.js"></script>
<script src="/Scripts/Master/Method/product_method.js"></script>
<script src="/Scripts/Master/Validation/product_validation.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product

            <small>Master</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Masters</li>
            <li class="active">Product</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" id="tabProductCreation" data-toggle="tab">Product Creation</a></li>
                        <li><a href="#tab_2" id="tabProductVendor" data-toggle="tab">Product Vendor</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <br />
                            <form id="frmProduct">
                                <div class="row">
                                    <div class="col-md-4">

                                        <input type="hidden" id="hdnProduct_Id" value="@Model.Product.Product_Entity.Product_Id">

                                        <div class="form-group">
                                            <label for="txtProductCode" style="color: #333">Product Code</label>
                                            <input type="text" class="form-control input-sm" name="Product.Product_Entity.Product_Code" id="txtProductCode" placeholder="Enter Product Code" value="@Model.Product.Product_Entity.Product_Code">
                                        </div>
                                        <div class="form-group">
                                            <label for="drpProdCatName" style="color: #333">Product Category Name</label>
                                            <select class="form-control input-sm" id="drpProdCatName" name="Product.Product_Entity.Product_Category_Id">
                                                <option value="" selected="selected">--Select--</option>
                                                @foreach (var item in Model.Product_Categories)
                                                {
                                                    if (Model.Product.Product_Entity.Product_Category_Id == item.Product_Category_Entity.Product_Category_Id)
                                                    {
                                                        <option value="@item.Product_Category_Entity.Product_Category_Id" selected="selected">@item.Product_Category_Entity.Product_Category_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Product_Category_Entity.Product_Category_Id">@item.Product_Category_Entity.Product_Category_Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="drpSubCatName" style="color: #333">Product Sub Category Name</label>
                                            <select class="form-control input-sm" id="drpSubCatName" name="Product.Product_Entity.Product_SubCategory_Id">
                                                <option value="" selected="selected">--Select--</option>
                                                @foreach (var item in Model.Product_SubCategories)
                                                {
                                                    if (Model.Product.Product_Entity.Product_SubCategory_Id == item.Product_SubCategory_Entity.Product_SubCategory_Id)
                                                    {
                                                        <option value="@item.Product_SubCategory_Entity.Product_SubCategory_Id" selected="selected">@item.Product_SubCategory_Entity.Product_SubCategory_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Product_SubCategory_Entity.Product_SubCategory_Id">@item.Product_SubCategory_Entity.Product_SubCategory_Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtProductName" style="color: #333">Product Name</label>
                                            <input type="text" class="form-control input-sm" name="Product.Product_Entity.Product_Name" id="txtProductName" placeholder="Enter Product Name" value="@Model.Product.Product_Entity.Product_Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="txtSize" style="color: #333">Size</label>
                                            <input type="text" class="form-control input-sm" name="Product.Product_Entity.Size" id="txtSize" placeholder="Enter Size" value="@Model.Product.Product_Entity.Size">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtCOD" style="color: #333">COD</label>
                                            <input type="text" class="form-control input-sm" name="Product.Product_Entity.COD" id="txtCOD" placeholder="Enter COD" value="@Model.Product.Product_Entity.COD">
                                        </div>
                                        <div class="form-group">
                                            <label for="drpProdType" style="color: #333">Product Type</label>
                                            <select class="form-control input-sm" id="drpProdType" name="Product.Product_Entity.Product_Type">
                                                <option value="" selected="selected">--Select--</option>
                                                @foreach (var item in LookupInfo.Get_Product_Types())
                                                {
                                                    if (Model.Product.Product_Entity.Product_Type == item.Key)
                                                    {
                                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Key">@item.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                @if (Model.Product.Product_Entity.Original_Manufacturer == true)
                                                { 
                                                    <input type="checkbox" name="chkIsOrigMan" id="chkIsOrigMan" value="false" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="chkIsOrigMan" id="chkIsOrigMan" value="true" />
                                                }
                                                &nbsp;&nbsp;&nbsp;&nbsp; Original Manufacturer
                                                <input type="hidden" class="form-control input-sm" id="hdnIs_OrigMan" name="Product.Product_Entity.Original_Manufacturer">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="txtInspFacility" style="color: #333">Inspection Facility</label>
                                            <textarea class="form-control input-sm" id="txtInspFacility" placeholder="Enter Inspection Facility" name="Product.Product_Entity.Inspection_Facility">@Model.Product.Product_Entity.Inspection_Facility</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtTestFacility" style="color: #333">Testing Facility</label>
                                            <textarea class="form-control input-sm" id="txtTestFacility" placeholder="Enter Testing Facility" name="Product.Product_Entity.Testing_Facility">@Model.Product.Product_Entity.Testing_Facility</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="btn-group">
                                                <button type="button" id="btnProductSave" class="btn btn-success btn-sm">Save Product</button>
                                                <a href="@Url.Action("Search", "Product")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel and Open Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="hidden" id="hdnProduct_Vendor_Id" value="@Model.Product_Vendor.Product_Vendor_Entity.Product_Vendor_Id">
                                    <div class="form-group">
                                        <label for="txtVendorName" style="color: #333">Vendor Name</label>
                                        <div class="auto-complete">
                                            <div class="input-group-btn form-inline">
                                                <input type="text" class="form-control input-sm" name="Product_Vendor.Vendor_Name" id="txtVendorName" placeholder="Enter Vendor Name" value="@Model.Product_Vendor.Vendor_Name">
                                                <button type="button" id="btnNew" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">New Vendor</button>
                                            </div>
                                            <input type="hidden" id="hdnVendor_Id" value="@Model.Product_Vendor.Product_Vendor_Entity.Vendor_Id">
                                        </div>
                                        <br />
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="drpPriorityOrder" style="color: #333">Priority Order</label>
                                        <select class="form-control input-sm" id="drpPriorityOrder" name="Product_Vendor.Product_Vendor_Entity.Priority_Order">
                                            <option value="" selected="selected">--Select--</option>
                                            @foreach (var item in LookupInfo.Get_Priority_Orders())
                                            {
                                                if (Model.Product_Vendor.Product_Vendor_Entity.Priority_Order == item.Key)
                                                {
                                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-striped" id="tblProdVenGrid">
                                            <tr>
                                                <th>Vendor Name</th>
                                                <th>Priority Order</th>
                                                <th></th>
                                            </tr>
                                            @foreach (var item in Model.Product_Vendors)
                                            {
                                                <tr id="tr_ivendor_@item.Product_Vendor_Entity.Product_Vendor_Id">
                                                    <td>@item.Vendor_Name</td>
                                                    <td>@item.Product_Vendor_Entity.Priority_Order</td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" id="btnRemove" class="btn btn-danger btn-sm" onclick="RemoveVendor(@item.Product_Vendor_Entity.Product_Vendor_Id)"><i class='fa fa-times'></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="btn-group">
                                            <button type="button" id="btnSavePV" class="btn btn-success btn-sm">Save Product Vendor</button>
                                            <a href="@Url.Action("Search", "Product")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel and Open Search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- nav-tabs-custom -->                
            </div><!-- /.col -->
        </div><!-- /.row -->


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">                        

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnNew").click(function () {

            $("#myModal").find(".modal-body").load("/master/partial-vendor", success);

        });
    });
    
    function success() {
        
    }
</script>