@model Kusumgar.Models.UserViewModel
@using KusumgarBusinessEntities.Common
<script src="~/Scripts/Master/user_event.js"></script>
<script src="/Scripts/Master/user_method.js"></script>
    <script src="~/Scripts/Master/user_validation.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    
    <section class="content-header">
        <h1>
            Employee

            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Employee</li>
        </ol>
    </section>

    <form id="frmUser">
        <input type="hidden" class="form-control input-sm" name="User.UserId" id="hdnUserId"  value="@Model.User.UserId">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                       
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Personal Information</h3>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtFirstName" style="color: #333">First Name</label>
                                                <input type="text" class="form-control input-sm" name="User.First_Name" id="txtFirstName" placeholder="Enter First name" value="@Model.User.First_Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtMiddleName" style="color: #333">Middle Name</label>
                                                <input type="text" class="form-control input-sm" name="User.Middle_Name" id="txtMiddleName" placeholder="Enter Middle name" value="@Model.User.Middle_Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtLastName" style="color: #333">Last Name</label>
                                                <input type="text" class="form-control input-sm" id="txtLastName" name="User.Last_Name" placeholder="Enter Last name" value="@Model.User.Last_Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtDesignation" style="color: #333">Designation</label>
                                                <input type="text" class="form-control input-sm" name="User.Designtation" id="txtDesignation" placeholder="Enter Designation" value="@Model.User.Designtation">
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtBirthDate" style="color: #333">Birth Date</label>
                                                <input type="text" class="form-control input-sm" name="User.Birth_Date" id="txtBirthDate" placeholder="Enter Birth Date" value="@(Model.User.Birth_Date == DateTime.MinValue ? "" : Model.User.Birth_Date.ToString("MM/dd/yyyy"))">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtDate_of_Joing" style="color: #333">Date of Joing</label>
                                                <input type="text" class="form-control input-sm" name="User.Date_Of_Joining" id="txtDate_of_Joing" placeholder="Enter Date of Joining" value="@(Model.User.Date_Of_Joining == DateTime.MinValue ? "" : Model.User.Date_Of_Joining.ToString("MM/dd/yyyy"))">
                                            </div>

                                            <div class="form-group">
                                                <label for="rdGender" style="color: #333">Gender :</label><br>
                                                @foreach (var item in LookupInfo.GetGenderTypes())
                                                {
                                                    if (Model.User.Gender == item.Key)
                                                    {
                                                        <label style="color: #333">
                                                            <input type="radio" name="rdGender" checked value="@item.Key" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                        </label><br>
                                                    }
                                                    else
                                                    {
                                                        <label style="color: #333">
                                                            <input type="radio" name="rdGender" value="@item.Key" style="color: #333" />
                                                            &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                        </label><br>
                                                    }
                                                }
                                                @if (Model.User.Gender != 0)
                                                {
                                                    <input type="hidden" value="@Model.User.Gender" name="User.Gender" id="hdnGender">
                                                }
                                                else
                                                {
                                                    <input type="hidden" name="User.Gender" id="hdnGender">
                                                }
                                            </div>

                                            

                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Other Information</h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                           
                                            <div class="form-group">
                                                @{

                                                <label style="color: #333">Role : </label><br>
                                                foreach (var item in Model.Roles)
                                                {

                                                if (Model.User.User_Roles.Where(a => a.UserRoleEntity.Role_Id == item.Role_Id).Count() > 0)
                                                {
                                                <label style="color: #333">
                                                    <input type="checkbox" name="Chk_User_Role" id="Chk_User_Role" checked value="@item.Role_Id" />
                                                    &nbsp;&nbsp; @item.Role_Name &nbsp; &nbsp;
                                                </label>
                                                }
                                                else
                                                {
                                                <label style="color: #333">
                                                    <input type="checkbox" name="Chk_User_Role" id="Chk_User_Role" value="@item.Role_Id" />
                                                    &nbsp;&nbsp; @item.Role_Name &nbsp;&nbsp;
                                                </label>
                                                }
                                                }

                                                <input type="hidden" id="hdnRole_Ids" name="User.Role_Ids">
                                                }
                                            </div>

                                            <div class="form-group">
                                                @if (Model.User.System_User_Flag == true)
                                                {
                                                    <label>
                                                        <input type="checkbox" name="ChkSystem_User_Flag" id="ChkSystem_User_Flag" checked value="@Model.User.System_User_Flag" />
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Online User
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        <input type="checkbox" name="ChkSystem_User_Flag" id="ChkSystem_User_Flag"  value="@Model.User.System_User_Flag" />
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Online User
                                                    </label>
                                                }
                                            </div>
                                            <input type="hidden" id="hdnSystem_User_Flag" name="User.System_User_Flag" value="@Model.User.System_User_Flag.ToString()">

                                            <div class="form-group">
                                                @if (Model.User.Is_Active == false)
                                                {
                                                    <label>
                                                        <input type="checkbox" name="chkStatus" />
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        <input type="checkbox" name="chkStatus" checked="checked"/>
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                                                    </label>
                                                }
                                            </div>
                                            <input type="hidden" id="hdnActive" name="User.Is_Active" value="@Model.User.Is_Active.ToString()">

                                        </div>
                                        <div class="col-md-6">
                                            @{
                                                string display = "none";
                                                if (Model.User.System_User_Flag == true)
                                                {
                                                    display = "block";
                                                }
                                                <div id="dvUser" style="display:@display">
                                                    <div class="form-group">
                                                        <label for="txtUser_Name" style="color: #333">User Name</label>
                                                        <input type="text" class="form-control input-sm" name="User.User_Name" id="txtUser_Name" placeholder="Enter User Name" value="@Model.User.User_Name">
                                                        <input type="hidden" id="hdnUser_Name" placeholder="Enter User Name" value="@Model.User.User_Name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtPassword" style="color: #333">Password</label>
                                                        <input type="password" class="form-control input-sm" name="User.Password" id="txtPassword" placeholder="Enter Password" value="@Model.User.Password">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtConform_Password" style="color: #333">Conform Password</label>
                                                        <input type="password" class="form-control input-sm" name="User.ConformPassword" id="txtConform_Password" placeholder="Enter Conform Password" value="@Model.User.Password">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Residence Contact</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtResidence_Landline" style="color: #333">Residence Landline</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                    <input type="text" class="form-control input-sm" id="txtResidence_Landline" placeholder="Enter Residence Landline" name="User.Residence_Landline" value="@Model.User.Residence_Landline">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtMobile_No1" style="color: #333">Mobile No1 </label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-mobile"></i>
                                                    </div>

                                                    <input type="text" class="form-control input-sm" id="txtMobile_No1" placeholder="Enter Mobile No" name="User.Mobile_No1" value="@Model.User.Mobile_No1" maxlength="10"/>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <label for="txtResidence_PinCode" style="color: #333">Residence PinCode</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-crosshairs"></i></span>
                                                    <input type="text" class="form-control input-sm" id="txtResidence_PinCode" placeholder="Enter Residence PinCode" name="User.Residence_PinCode" value="@Model.User.Residence_PinCode" maxlength="6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="txtPersonal_Email" style="color: #333">Personal Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    <input type="text" class="form-control input-sm" id="txtPersonal_Email" placeholder="Enter Personal Email" name="User.Personal_Email" value="@Model.User.Personal_Email">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtMobile_No2" style="color: #333">Mobile No2 </label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-mobile"></i>
                                                    </div>

                                                    <input type="text" class="form-control input-sm" id="txtMobile_No2" placeholder="Enter Mobile No" name="User.Mobile_No2" value="@Model.User.Mobile_No2" maxlength="10"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtResidence_Address" style="color: #333">Residence Address</label>
                                                <textarea class="form-control input-sm" id="txtResidence_Address" placeholder="Enter Residence Landline" name="User.Residence_Address">@Model.User.Residence_Address</textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Office Contact</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtOffice_Landline" style="color: #333">Office Landline</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                    <input type="text" class="form-control input-sm" id="txtOffice_Landline" placeholder="Enter Office Landline" name="User.Office_Landline" value="@Model.User.Office_Landline">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtOffice_PinCode" style="color: #333">Office PinCode</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-crosshairs"></i></span>
                                                    <input type="text" class="form-control input-sm" id="txtOffice_PinCode" placeholder="Enter Office PinCode" name="User.Office_PinCode" value="@Model.User.Office_PinCode" maxlength="6">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtFax_No" style="color: #333">Fax No</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-fax"></i>
                                                    </div>
                                                    <input type="text" class="form-control input-sm" id="txtFax_No" placeholder="Enter Fax No" name="User.Fax_No" value="@Model.User.Fax_No">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtOffice_Email" style="color: #333">Office Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    <input type="text" class="form-control input-sm" id="txtOffice_Email" placeholder="Enter Personal Email" name="User.Office_Email" value="@Model.User.Office_Email">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="txtOffice_Address" style="color: #333">Office Address</label>
                                                <textarea class="form-control input-sm" id="txtOffice_Address" placeholder="Enter Office Landline" name="User.Office_Address">@Model.User.Office_Address</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="btn-group">
                                <button type="button" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                <a href="@Url.Action("Search", "User")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancle</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /.row -->
        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->


