@model Kusumgar.Models.YArticleViewModel
@using KusumgarBusinessEntities.Common
<script src="/Scripts/Master/Event/yarticle_event.js"></script>
<script src="/Scripts/Master/Method/yarticle_method.js"></script>
<script src="/Scripts/Master/Validation/yarticle_validation.js"></script>
<form id="frmYArticle">
    <div class="row">

        <input type="hidden" id="hdnYArticle_Id" value="@Model.YArticle.Y_Article_Id">
        <input type="hidden" id="hdnIs_Primary" value="@Model.Is_Primary">
        <div class="col-md-8">

            <div class="box-header with-border">
                <h3 class="box-title">Y Article Full Code</h3>
            </div>

            <div class="box-body">

                <div class="row">
                    <div class="col-md-6"> 

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <label style="color: #333">Attribute</label>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label style="color: #333">Code</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                
                                    <select id="drpDenier" class="form-control input-sm attribute-name" name="YArticle.Denier_Id">
                                        <option value="">-Select Denier-</option>
                                        @if (Model.Attribute_Codes.Count > 0)
                                        {
                                            foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Denier.ToString()))
                                            {
                                                if (Model.YArticle.Denier_Id == item.Attribute_Code_Id)
                                                {
                                                    <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                                }
                                            }
                                        }
                                        @if(Model.YArticle.Denier_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                        { 
                                            <option value="0_" selected="selected">none</option>
                                        }
                                        else
                                        {
                                            <option value="0_" >none</option>
                                        }
                                    </select>
                                
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpTwist_Mingle" class="form-control input-sm attribute-name" name="YArticle.Twist_Mingle_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Twist/Mingle- </option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.TwistMingle.ToString()))
                                        {
                                            if (Model.YArticle.Twist_Mingle_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Twist_Mingle_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpTwist_type" class="form-control input-sm  attribute-name" name="YArticle.Twist_Type_Id">
                                    <option value="">-Select Twist Type- </option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Twist_type.ToString().Replace('_',' ')))
                                        {
                                            if (Model.YArticle.Twist_Type_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Twist_Type_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpPly" class="form-control input-sm  attribute-name" name="YArticle.Ply_Id">
                                    <option  value="">-Select Ply- </option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Ply.ToString()))
                                        {
                                            if (Model.YArticle.Ply_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Ply_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpYarn_type" class="form-control input-sm  attribute-name" name="YArticle.Yarn_Type_Id">
                                    <option  value="">-Select Yarn type- </option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Yarn_Type.ToString().Replace('_',' ')))
                                        {
                                            if (Model.YArticle.Yarn_Type_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Yarn_Type_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpShade" class="form-control input-sm  attribute-name" name="YArticle.Shade_Id">
                                    <option  value="">-Select Shade-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Shade.ToString()))
                                        {
                                            if (Model.YArticle.Shade_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Shade_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpFilaments" class="form-control input-sm  attribute-name" name="YArticle.Filaments_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Filaments-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Filaments.ToString()))
                                        {
                                            if (Model.YArticle.Filaments_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Filaments_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                    </div>

                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <label>Attribute</label>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label>Code</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpOrigin" class="form-control input-sm  attribute-name" name="YArticle.Origin_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Origin-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Origin.ToString()))
                                        {
                                            if (Model.YArticle.Origin_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Origin_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpShrinkage" class="form-control input-sm  attribute-name" name="YArticle.Shrinkage_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Shrinkage-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Shrinkage.ToString()))
                                        {
                                            if (Model.YArticle.Shrinkage_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Shrinkage_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpTenasity" class="form-control input-sm  attribute-name" name="YArticle.Tenasity_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Tenasity-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Tenasity.ToString()))
                                        {
                                            if (Model.YArticle.Tenasity_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Tenasity_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpChemical_Treatment" class="form-control input-sm  attribute-name" name="YArticle.Chemical_Treatment_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Chemical Treatment-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Chemical_Treatment.ToString().Replace('_',' ')))
                                        {
                                            if (Model.YArticle.Chemical_Treatment_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Chemical_Treatment_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpColour" class="form-control input-sm  attribute-name" name="YArticle.Colour_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Colour-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Colour.ToString()))
                                        {
                                            if (Model.YArticle.Colour_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                   @if (Model.YArticle.Colour_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <select id="drpSupplier" class="form-control input-sm  attribute-name" name="YArticle.Supplier_Id">
                                    @*style="width:200px;">*@
                                    <option  value="">-Select Supplier-</option>
                                    @if (Model.Attribute_Codes.Count > 0)
                                    {
                                        foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Supplier.ToString()))
                                        {
                                            if (Model.YArticle.Supplier_Id == item.Attribute_Code_Id)
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                            }
                                        }
                                    }
                                    @if (Model.YArticle.Supplier_Id == 0 && Model.YArticle.Y_Article_Id != 0)
                                    {
                                        <option value="0_" selected="selected">none</option>
                                    }
                                    else
                                    {
                                        <option value="0_">none</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="attribute-code">-</label>
                            </div>
                        </div>
                        <br />

                    </div>

                    <div class="col-md-12">
                        <div class="well text-center">
                            @if (Model.YArticle.Y_Article_Id == 0)
                            {
                                <label class="full-code">- - - -</label>
                            }
                            else
                            {
                                <label class="full-code">@Model.YArticle.Full_Code</label>
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-4">

            <div class="box-header with-border">
                <h3 class="box-title">Other Information</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label style="color: #333" for="txtGiven_By">Given By</label>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div class="auto-complete">
                                    <input type="text" class="form-control input-sm" id="txtGiven_By" placeholder="Enter given by"  />
                                    <input type="hidden" id="hdnGiven_by" value="@(Model.YArticle.Given_By_Id ==0?"":Model.YArticle.Given_By_Id.ToString())" name="YArticle.Given_By_Id" class="auto-complete-value">
                                    <input type="hidden" id="hdnGiven_By_Name" value="@Model.YArticle.Given_By_Name" name="YArticle.Given_By_Name" class="auto-complete-label">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #333" for="txtValidated_By">Validated By</label>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div class="auto-complete">
                                    <input type="text" class="form-control input-sm" id="txtValidated_By" placeholder="Enter validated by"  />
                                    <input type="hidden" id="hdnValidated_by" value="@(Model.YArticle.Validated_By_Id == 0 ? "" : Model.YArticle.Validated_By_Id.ToString())" name="YArticle.Validated_By_Id" class="auto-complete-value">
                                    <input type="hidden" id="hdnValidated_By_Name" value="@Model.YArticle.Validated_By_Name" name="YArticle.Validated_By_Name" class="auto-complete-label">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #333" for="txtDeveloped_Under">Developed Under</label>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div class="auto-complete">
                                    <input type="text" class="form-control input-sm" id="txtDeveloped_Under" placeholder="Enter developed under"  />
                                    <input type="hidden" class="auto-complete-value" id="hdnDeveloped_Under" value="@(Model.YArticle.Developed_Under_Id == 0 ? "" : Model.YArticle.Developed_Under_Id.ToString())" name="YArticle.Developed_Under_Id">
                                    <input type="hidden" id="hdnValidated_By_Name" value="@Model.YArticle.Developed_Under_Name" name="YArticle.Developed_Under_Name" class="auto-complete-label">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: #333" for="txtLead_Time_To_Purchase">Lead Time to Purchase Raw Material</label>
                            <input type="text" class="form-control input-sm " id="txtLead_Time_To_Purchase" placeholder="Enter lead time to purchase raw material" name="YArticle.Lead_Time_To_Purchase" value="@Model.YArticle.Lead_Time_To_Purchase" />
                        </div>

                        <div class="form-group">
                            <div class="auto-complete">
                                <label style="color: #333" for="txtWork_Center">Work Center</label>
                                <input type="text" class="form-control input-sm " id="txtWork_Center" placeholder="Enter work center" />
                                <input type="hidden" class="auto-complete-value" id="hdnWork_Center_Id" name="YArticle.Work_Center_Id" value="@Model.YArticle.Work_Center_Id" placeholder="Enter work center" />
                                <input type="hidden" id="hdnWork_Center_Code" value="@Model.YArticle.Work_Center_Code" name="YArticle.Work_Center_Code" class="auto-complete-label">
                            </div>
                        </div>

                        <div class="form-group">
                           
                                @if (Model.YArticle.Is_Active == true)
                                {
                                    <input type="checkbox" id="chkStatus" name="chkStatus" checked="checked" value="@Model.YArticle.Is_Active.ToString()" class="iCheck" />
                                }
                                else
                                {
                                    <input type="checkbox" id="chkStatus" name="chkStatus" value="@Model.YArticle.Is_Active.ToString()" class="iCheck" />
                                }
                            <label>
                                &nbsp;&nbsp;&nbsp;&nbsp; Active Status
                            </label>

                            <input id="hdnStatus" class="iCheck-hidden" type="hidden" value="False">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group">
                    <button type="button" id="btnSave_YArticle" class="btn btn-success btn-sm">Save</button>
                    <a href="@Url.Action("Search", "YArticle")" id="btnCancel_YArticle" class="btn btn-warning btn-sm" role="button">Cancle</a>

                </div>
            </div>
        </div>
    </div>

</form>


