@model Kusumgar.Models.YArticleViewModel
@using KusumgarBusinessEntities.Common
<script src="/Scripts/Master/Event/yarticle_listing_event.js"></script>
<script src="/Scripts/Master/Method/yarticle_listing_method.js"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Y Article

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Y Article Search</li>
        </ol>
    </section>

    <form id="frmSearch_YArticle">

        <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdfY_Article_Id" name="YArticle.Y_Article_Id" value="@Model.YArticle.Y_Article_Id" />
        <!-- Main content -->
        <section class="content">

            <!-- Y Article Search -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="txtFull_Code">Full Code</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtFull_Code" placeholder="Enter Full Code" />
                                            <input type="hidden" name="Filter.Full_Code" id="hdnFull_Code" value="@Model.Filter.Full_Code" class="auto-complete-label"  />
                                            <input type="hidden" id="hdnYArticle_Id" value="@Model.Filter.YArticle_Id" name="Filter.YArticle_Id" class="auto-complete-value" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="drpYarn_Type">Yarn Type</label>
                                        <select id="drpYarn_Type" class="form-control input-sm" name="Filter.Yarn_Type_Id">
                                            <option value="">-Select Yarn type- </option>
                                            @if (Model.Attribute_Codes.Count > 0)
                                            {
                                                foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Yarn_Type.ToString()))
                                                {
                                                    if (Model.YArticle.Yarn_Type_Id == item.Attribute_Code_Id)
                                                    {
                                                        <option value="@(item.Attribute_Code_Id +"_"+ item.Code)" selected="selected">@item.Attribute_Code_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@(item.Attribute_Code_Id +"_"+ item.Code)">@item.Attribute_Code_Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="box-footer">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="btn-group pull-left  btn-group-sm">
                                            <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <a class="btn btn-primary  btn-sm" href="@Url.Action("Index", "YArticle")" role="button">Create</a>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="btn-group pull-right btn-group-sm">
                                            <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning btn-sm">Edit</button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">

                            <table class="table table-striped" id="tblYArticle">
                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th style="width: 400px;">Full Code</th>
                                    <th style="width: 200px;">Denier</th>
                                    <th style="width: 200px;">Twist/Mingle</th>
                                    <th style="width: 200px;">Twist type</th>
                                    <th style="width: 200px;">Ply</th>
                                    <th style="width: 200px;">Yarn type</th>
                                    <th style="width: 200px;">Shade</th>
                                    <th style="width: 200px;">Filaments</th>
                                    <th style="width: 200px;">Origin</th>
                                    <th style="width: 200px;">Shrinkage</th>
                                    <th style="width: 200px;">Tenasity</th>
                                    <th style="width: 200px;">Chemical Treatment</th>
                                    <th style="width: 200px;">Colour</th>
                                    <th style="width: 200px;">Supplier</th>
                                </tr>


                            </table>

                        </div>

                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->

