@model Kusumgar.Models.CustomerViewModel
@using KusumgarBusinessEntities.Common


<script src="/Scripts/CRM/Event/customer_event.js"></script>
<script src="/Scripts/CRM/Method/customer_method.js"></script>
<script src="/Scripts/CRM/Validation/customer_validation.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Customer

            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>CRM</li>
            <li class="active">Customer</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Primary</a></li>
                        <li><a href="#tab_2" id="tabFinancial" data-toggle="tab">Financial</a></li>
                        <li><a href="#tab_3" id="tabBilling" data-toggle="tab">Billing</a></li>
                        <li><a href="#tab_4" id="tabShipping" data-toggle="tab">Shipping</a></li>
                        <li><a href="#tab_5" id="tabOther" data-toggle="tab">Other</a></li>
                        <li><a href="#tab_6" id="tabContactType" data-toggle="tab">Contact Type</a></li>
                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-info"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <br />

                            <form id="frmCustomer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" id="hdnCustomer_Id" value="@Model.Customer.Customer_Id">
                                        <div class="form-group">
                                            <label for="txtCustomer_Name" style="color: #333">Customer name</label>
                                            <input type="text" class="form-control input-sm" id="txtCustomer_Name" name="Customer.Customer_Name" placeholder="Enter customer name" value="@Model.Customer.Customer_Name">
                                            <input type="hidden" class="form-control input-sm" id="hdnCustomer_Name" placeholder="Enter customer name" value="@Model.Customer.Customer_Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="txtEmailId" style="color: #333">Email </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input type="text" class="form-control input-sm" id="txtEmail_Id" name="Customer.Company_Email" placeholder="Enter email" value="@Model.Customer.Company_Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <!-- Head Office Details -->
                                        <div class="form-group">
                                            <label style="color: #333">Office address</label>
                                            <textarea class="form-control input-sm" rows="2" id="txtHead_Office_Address" name="Customer.Head_Office_Address" placeholder="Enter head office address">@Model.Customer.Head_Office_Address</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label style="color: #333">Nation</label>
                                            <select class="form-control input-sm" id="drpHead_Office_Nation" name="Customer.Head_Office_Nation">
                                                <option value="">- Select Nation -</option>
                                                @foreach (var item in Model.Nations)
                                                {
                                                    if (Model.Customer.Head_Office_Nation == item.NationId)
                                                    {
                                                        <option value="@item.NationId" selected="selected">@item.NationName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.NationId">@item.NationName</option>
                                                    }
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label style="color: #333">State</label>
                                            <select class="form-control input-sm" id="drpHead_Office_State" name="Customer.Head_Office_State">
                                                <option value="">- Select State-</option>
                                                @foreach (var item in Model.States)
                                                {
                                                    if (Model.Customer.Head_Office_State == item.StateId)
                                                    {
                                                        <option value="@item.StateId" selected="selected">@item.StateName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.StateId">@item.StateName</option>
                                                    }
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtHeadOfficeZipCode" style="color: #333">Zipcode</label>

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-crosshairs"></i></span>
                                                <input type="text" class="form-control input-sm" id="txtHead_Office_ZipCode" name="Customer.Head_Office_ZipCode" placeholder="Enter zipcode" value="@Model.Customer.Head_Office_ZipCode" maxlength="6">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <!-- Head Office Phone -->
                                        <div class="form-group">
                                            <label style="color: #333">Landline 1:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" id="txtHead_Office_Landline1" class="form-control input-sm" name="Customer.Head_Office_Landline1" data-inputmask='"mask": "(999) 999-9999"' data-mask value="@Model.Customer.Head_Office_Landline1" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>

                                        <div class="form-group">
                                            <label style="color: #333">Landline 2:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" id="txtHead_Office_Landline2" class="form-control input-sm" name="Customer.Head_Office_Landline2" data-inputmask='"mask": "(999) 999-9999"' data-mask value="@Model.Customer.Head_Office_Landline2" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>

                                        <div class="form-group">
                                            <label style="color: #333">Fax no:</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-fax"></i>
                                                </div>
                                                <input type="text" id="txtHead_Office_FaxNo" class="form-control" name="Customer.Head_Office_FaxNo" data-inputmask='"mask": "(999) 999-9999"' data-mask value="@Model.Customer.Head_Office_FaxNo" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="chkIsApproved" id="chkIsApproved" checked />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Approved status
                                                <input type="hidden" class="form-control input-sm" id="hdnIs_Approved_By_Director" name="Customer.Is_Approved_By_Director">
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="chkStatus" id="chkStatus" checked />
                                                &nbsp;&nbsp;&nbsp;&nbsp; Active status
                                                <input type="hidden" class="form-control input-sm" id="hdnIs_Active" name="Customer.Is_Active">
                                            </label>
                                        </div>

                                        <!-- Head Office Phone Ends -->
                                    </div>
                                </div>

                               
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="btn-group">
                                                <button type="button" id="btn_Save" class="btn btn-success btn-sm">Save primary</button>&nbsp;
                                                <a href="@Url.Action("Search","Customer")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <br />

                            @Html.Partial("_CustomerFinancialDetails")

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <br />

                            @Html.Partial("_CustomerBillingDetails")

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_4">
                            <br />

                            @Html.Partial("_CustomerShippingDetails")

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_5">
                            <br />
                            <form id="frmOthers">
                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label for="txtCustomerName" style="color: #333">Company turnover</label>
                                            <input type="text" class="form-control input-sm" id="txtCompany_Turnover" placeholder="Enter company turnover" name="Customer.Company_Turnover" value="@(Model.Customer.Company_Turnover == null ? "" : Model.Customer.Company_Turnover)">
                                        </div>
                                        @if (Model.Customer.Credit_limit == 0)
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Credit limit</label>
                                                <input type="text" class="form-control input-sm" id="txtCredit_Limit" placeholder="Enter credit limit" name="Customer.Credit_limit">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Credit limit</label>
                                                <input type="text" class="form-control input-sm" id="txtCredit_Limit" placeholder="Enter credit limit" name="Customer.Credit_limit" value="@Model.Customer.Credit_limit">
                                            </div>
                                        }

                                        @if (Model.Customer.Order_Minimum_Value == 0)
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Order minimum value</label>
                                                <input type="text" class="form-control input-sm" id="txtOrder_Minimum_Value" placeholder="Enter order minimum value" name="Customer.Order_Minimum_Value">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Order minimum value</label>
                                                <input type="text" class="form-control input-sm" id="txtOrder_Minimum_Value" placeholder="Enter order minimum value" name="Customer.Order_Minimum_Value" value="@Model.Customer.Order_Minimum_Value">
                                            </div>
                                        }

                                        @if (@Model.Customer.Order_Maximum_Value == 0)
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Order maximum value</label>
                                                <input type="text" class="form-control input-sm" id="txtOrder_Maximum_Value" placeholder="Enter order maximum value" name="Customer.Order_Maximum_Value">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label for="txtCreditLimit" style="color: #333">Order maximum value</label>
                                                <input type="text" class="form-control input-sm" id="txtOrder_Maximum_Value" placeholder="Enter order maximum value" name="Customer.Order_Maximum_Value" value="@Model.Customer.Order_Maximum_Value">
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label style="color: #333">Contract expiration date</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control  input-sm pull-right" id="dtpExpiration_Date_Of_Contract" name="Customer.Expiration_Date_Of_Contract" value="@((Model.Customer.Expiration_Date_Of_Contract == null ? "" : Model.Customer.Expiration_Date_Of_Contract.ToShortDateString()))" />
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Auto_Mail_Delivery == true)
                                                        {
                                                            <input type="checkbox" name="chkAutoMailDelivery" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkAutoMailDelivery" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Auto Mail Delivery
                                                    </label>
                                                    <input type="hidden" id="hdnAuto_Mail_Delivery" value="@((Model.Customer.Auto_Mail_Delivery == null ? false : Model.Customer.Auto_Mail_Delivery).ToString())">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Block_Order == true)
                                                        {
                                                            <input type="checkbox" name="chkBlockOrder" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="chkBlockOrder" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Block order
                                                    </label>
                                                    <input type="hidden" id="hdnBlock_Order" value="@((Model.Customer.Block_Order== null ? false :Model.Customer.Block_Order).ToString())">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Public_Private_Sector == true)
                                                        {
                                                            <input type="radio" name="Public_Private" id="rdbPublic" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="Public_Private" id="rdbPublic" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Public sector
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Public_Private_Sector == false)
                                                        {
                                                            <input type="radio" name="Public_Private" id="rdbPrivate" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="Public_Private" id="rdbPrivate" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Private sector

                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    &nbsp;
                                                    <input type="hidden" id="hdnPublic_Private_Sector" value="@((Model.Customer.Public_Private_Sector == null ? false : Model.Customer.Public_Private_Sector).ToString())">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Organised_UnOrganised_Sector == true)
                                                        {
                                                            <input type="radio" name="Organised_Unorganised" id="rdbOrganised" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="Organised_Unorganised" id="rdbOrganised" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Organised sector

                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label style="color: #333">
                                                        @if (Model.Customer.Organised_UnOrganised_Sector == false)
                                                        {
                                                            <input type="radio" name="Organised_Unorganised" id="rdbUnorganised" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="Organised_Unorganised" id="rdbUnorganised" />
                                                        }
                                                        &nbsp;&nbsp;&nbsp;&nbsp; Unorganised sectors
                                                    </label>
                                                    <input type="hidden" id="hdnOrganised_UnOrganised_Sector" value="@((Model.Customer.Organised_UnOrganised_Sector == null ? false : Model.Customer.Organised_UnOrganised_Sector).ToString())">
                                                </div>
                                                <div class="col-md-4">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var item in LookupInfo.Get_Compnay_Types())
                                                {
                                                    if (Model.Customer.Proprietary_Private_Limited == item.Key)
                                                    {
                                                        <div class="col-md-4">
                                                            <label style="color: #333">
                                                                <input type="radio" name="Company_Type" id="ChkCompany_type_@item.Key" value="@item.Key" checked />
                                                                &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-4">
                                                            <label style="color: #333">
                                                                <input type="radio" name="Company_Type" id="ChkCompany_type_@item.Key" value="@item.Key" />
                                                                &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                                <input type="hidden" id="hdnProprietary_Private_Limited" value="@((Model.Customer.Proprietary_Private_Limited ==null ? 0: Model.Customer.Proprietary_Private_Limited))">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var item in LookupInfo.Get_Compnay_Status())
                                                {
                                                    if (Model.Customer.Progressive_Stable_Turmoil == item.Key)
                                                    {
                                                        <div class="col-md-4">
                                                            <label style="color: #333">
                                                                <input type="radio" name="Company_Status" id="ChkCompany_status_@item.Key" value="@item.Key" checked />
                                                                &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-4">
                                                            <label style="color: #333">
                                                                <input type="radio" name="Company_Status" id="ChkCompany_status_@item.Key" value="@item.Key" />
                                                                &nbsp;&nbsp;&nbsp;&nbsp; @item.Value
                                                            </label>
                                                        </div>
                                                    }

                                                }
                                                <input type="hidden" id="hdnProgressive_Stable_Turmoil" value="@((Model.Customer.Progressive_Stable_Turmoil==null ? 0: Model.Customer.Progressive_Stable_Turmoil))">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="btn-group">
                                        <button type="button" id="btnSaveOther" class="btn btn-success btn-sm">Save other</button>
                                        <a href="@Url.Action("Search","Customer")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancle</a>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_6">
                            <br />
                            <form id="frmContact">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" id="hdnCustomer_Contact_Type_Id" value="@Model.Customer.Customer_Contact_Type.Customer_Contact_Type_Id">
                                        <div class="form-group">
                                            <label for="txtContactType" style="color: #333">Contact Type</label>
                                            <input type="text" class="form-control input-sm" id="txtContactType" placeholder="Enter Contact Type" name="Customer.Customer_Contact_Type.Contact_Type" value="@Model.Customer.Customer_Contact_Type.Contact_Type">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-striped" id="tblConTypeGrid">
                                                <tr>
                                                    <th>Contact Type</th>                                                    
                                                    <th></th>
                                                </tr>
                                                @foreach (var item in Model.Customer.Customer_Contact_Types)
                                                {
                                                    <tr id="tr_ctype_@item.Customer_Contact_Type_Id">
                                                        <td>@item.Contact_Type</td>                                                        
                                                        <td>
                                                            <div class="btn-group pull-right">
                                                                <button type="button" id="btnRemove" class="btn btn-danger btn-xs" onclick="RemoveContactType(@item.Customer_Contact_Type_Id)"><i class='fa fa-times'></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="btn-group">
                                        <button type="button" id="btnSaveContact" class="btn btn-success btn-sm">Save Contact Type</button>
                                        <a href="@Url.Action("Search","Customer")" id="btnCancel" class="btn btn-warning btn-sm" role="button">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div><!-- nav-tabs-custom -->
            </div><!-- /.col -->
        </div> <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

