@model Kusumgar.Models.CustomerViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/CRM/Event/customer_listing_event.js"></script>
<script src="/Scripts/CRM/Method/customer_listing_method.js"></script>
<script src="/Scripts/CRM/Validation/custome_listing_validation.js"></script>
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent!important;
    }
</style>
    <form id="frmSearch_customer">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdfCustomer_Id" name="Customer.Customer_Entity.Customer_Id" />
        <input type="hidden" id="hdCustomer_Id" name="Filter.Customer_Id" />
        <input type="hidden" id="hdfCustomer_Name" name="Filter.Customer_Name" />
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Customer

                <small>Search</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li>CRM</li>
                <li class="active">Customer search</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Customer Search -->
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtCustomerName">Customer name</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtCustomer_Name" placeholder="Enter customer name" name="Filter.Customer_Name" value="@Model.Filter.Customer_Name">
                                            <input type="hidden" id="hdnCustomer_Id" value="@Model.Filter.Customer_Id" name="Filter.Customer_Id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="btn-group pull-left btn-group-sm">
                                                <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                                <button type="button" id="btnAdvanceSearch" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Advance search</button>
                                                <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Customer")" role="button">Create </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                       
                                        <div class="btn-group pull-right btn-group-sm">
                                            <button type="button" id="btnEdit" class="btn btn-warning btn-sm" style="display:none;">Edit </button>
                                            <button type="button" id="btnViewContact" class="btn btn-primary btn-sm" style="display:none;">View contacts</button>
                                            <button type="button" id="btnPurchaseHistory" class="btn btn-primary btn-sm " style="display:none;">Purchase history</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- Customer Search Ends -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblcustomer">
                                <tr id="subhead">
                                    <th></th>
                                    <th>Customer name</th>
                                    <th>Company email</th>
                                    <th>Office landline 1</th>
                                    <th>Office landline 2</th>
                                    <th>Turnover</th>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col (left) -->
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            @*<div class="form-group">
                                    <label for="txtCustomer_Name" style="color: #333">Customer name</label>
                                    <input type="text" class="form-control" id="txtCustomer_Name" placeholder="Enter customer name">
                                </div>

                                <div class="form-group">
                                    <label for="txtEmailId" style="color: #333">Email Id</label>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" class="form-control" name="Email" id="txtEmailId" placeholder="Enter email">
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label style="color: #333">Nation</label>
                                <select class="form-control input-sm" id="drpNation_Id" name="Filter.Nation_Id">
                                    <option value="">- Select Nation -</option>
                                    @foreach (var item in Model.Nations)
                                    {
                                        if (Model.Filter.Nation_Id == item.Nation_Entity.NationId)
                                        {
                                            <option value="@item.Nation_Entity.NationId" selected="selected">@item.Nation_Entity.NationName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Nation_Entity.NationId">@item.Nation_Entity.NationName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="txtTurnover" style="color: #333">Turnover greater than</label>
                                <input type="text" class="form-control input-sm" name="Turnover" id="txtTurnover" placeholder="Enter Turnover" value="@Model.Filter.Turnover" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" id="AdvSearch">Search</button>
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>

