@model Kusumgar.Models.ConsumableViewModel
@using KusumgarBusinessEntities.Common

@{
    ViewBag.Title = "Search";
}


<script src="~/Scripts/Master/Event/consumable_search_event.js"></script>
<script src="~/Scripts/Master/Method/consumable_search_method.js"></script>

<input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />

<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Consumable 
            <small>Search</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active">Consumable </li>
        </ol>
    </section>

    <form id="frmSearchConsumableMaster">
        <input type="hidden" id="hdnConsumable_Id" name="Consumable.Consumable_Entity.Consumable_Id">
        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">

                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="CategoryName">Category Name</label>
                                     
                                        <select id="ddlCategoryName" class="form-control input-sm" name="Consumable.Category_Name" >
                                            <option value="">--Select--</option>
                                            @foreach (var item in Model.Categories)
                                            {
                                                if (Model.Consumable.Category_Id == item.Category_Id)
                                                {
                                                    <option value="@item.Category_Id" selected="selected">@item.Category_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Category_Id">@item.Category_Name</option>
                                                }
                                            }
                                        </select>

                                       
                                        <label for="txtMaterial_Name">Material name</label>
                                        <input type="text" class="form-control input-sm" id="txtMaterial_Name" placeholder="Enter material name" name="FilterVal.Material_Name">
                                    </div>

                                    <div class="btn-group pull-left">
                                        <button type="button" id="btnSearch" class="btn btn-success">Search</button>
                                        <a class="btn btn-primary" href="@Url.Action("Index","Consumable")" role="button">Create Consumable </a>
                                    </div>
                                </div>
                               
                                <div class="col-md-12">

                                    <div class="btn-group pull-right">
                                        <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning">Edit Consumable </button>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblConsumableMasterGrid">
                                <tr id="subhead">
                                    <th style="width:50px;"></th>
                                    <th style="width:200px;">Consumable Id</th>
                                    <th style="width:200px;">Category Name</th>
                                    <th style="width:200px;">SubCategory Name</th>
                                    <th style="width:200px;">Material Name</th>
                                    <th style="width:200px;">Material Code</th>
                                    <th style="width:200px;">Active</th>
                                </tr>


                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>



        </section>
        <!-- /.content -->
    </form>
</div>