@model Kusumgar.Models.PArticleViewModel
@using KusumgarBusinessEntities.Common

@{
    ViewBag.Title = "Search P Article";
}

<script src="~/Scripts/Master/Method/particle_listing_method.js"></script>
<script src="~/Scripts/Master/Event/particle_listing_event.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            P Article

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Master</li>
            <li class="active"> P Article Search</li>
        </ol>
    </section>
    <form id="frmSearchPArticle">
        <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdfPArticleId" name="PArticle.P_Article_Id" value="@Model.PArticle.P_Article_Id" />

        <!-- Main content -->
        <section class="content">

            <!-- P Article Search -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="txtFullCode">Full Code</label>

                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtFull_Code" placeholder="Enter Full Code" />
                                            <input type="hidden" name="Filter.Full_Code" id="hdnFull_Code" value="@Model.Filter.Full_Code" class="auto-complete-label" />
                                            <input type="hidden" id="hdnPArticle_Id" value="@Model.Filter.PArticle_Id" name="Filter.PArticle_Id" class="auto-complete-value" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                       
                                        <select id="drpYarn_Type" class="form-control input-sm" name="Filter.Yarn_Type_Id">
                                            <option value="">-Select Yarn type- </option>
                                            @if (Model.Attribute_Codes.Count > 0)
                                            {
                                                foreach (var item in Model.Attribute_Codes.Where(a => a.Attribute_Name == AttributeName.Yarn_type.ToString()))
                                                {
                                                    if (Model.PArticle.Yarn_Type_Id == item.AttributeCodeEntity.Attribute_Code_Id)
                                                    {
                                                        <option value="@(item.AttributeCodeEntity.Attribute_Code_Id +"_"+ item.AttributeCodeEntity.Code)" selected="selected">@item.AttributeCodeEntity.Attribute_Code_Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@(item.AttributeCodeEntity.Attribute_Code_Id +"_"+ item.AttributeCodeEntity.Code)">@item.AttributeCodeEntity.Attribute_Code_Name</option>
                                                    }
                                                }
                                            }
                                        </select>


                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="btn-group pull-left btn-group-sm">
                                            <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","PArticle")" role="button">Create</a>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="btn-group pull-right btn-group-sm">

                                            <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning btn-sm">Edit</button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">

                            <table class="table table-striped" id="tblparticle">

                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th style="width: 300px;">Full Code</th>
                                    <th style="width: 200px;">Yarn Type</th>
                                    <th style="width: 200px;">Quality No</th>
                                    <th style="width: 200px;">Weave</th>
                                    <th style="width: 200px;">Shade</th>
                                   
                                <tr>
                                   
                          </table>

                        </div>

                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                        </div>

                        <div id="divSearchGridOverlay" class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>


                    </div>
                </div>
            </div>

        </section>
      
         <!-- /.content -->
        </form>
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });

        //Date range picker
        $('#dtpContractExpirationDate').datepicker();

        $("#btnSearch").click(function () {
            $("#divSearchGridOverlay").show();
        });

        $("#divSearchGridOverlay").hide();
    });
</script>