@model Kusumgar.Models.EnquiryViewModel
@using KusumgarBusinessEntities.Common


<!-- daterange picker -->
<link href="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<!-- InputMask -->
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/Scripts/Sales/Event/ppc_checkpoint_events.js"></script>
<script src="/Scripts/Sales/Method/ppc_checkpoint_methods.js"></script>
<style>
    .div-drag-drop {
        width: 100%;
        background-color: rgb(255, 255, 214);
        height: 100px;
        border: 1px dashed #E7E7E7;
        text-align: center;
        color: #878787;
    }

    .div-highlight {
        width: 100%;
        background-color: rgb(255, 255, 214);
        border: 1px dashed #E7E7E7;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Enquiry

            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Sales</li>
            <li class="active">Enquiry</li>
        </ol>
    </section>
    <form id="frmPPC_Checkpoint">
        <input type="hidden" id="hdnEnquiry_Id" value="@Model.Enquiry.Enquiry_Id" name="Enquiry.Enquiry_Id">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form>

                        <div class="row">

                            <div class="col-md-6">

                                <div id="divEnquiryPrerequisites">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PPC Action Area</h3>
                                    </div>

                                    <div class="box-body">

                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                <label>Enquiry Type :</label> @Model.Enquiry.Enquiry_Type
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-1 col-xs-1">
                                                <input type="radio" name="r1" id="rdbQualityNo" checked />
                                            </div>

                                            <div class="col-md-11 col-xs-11">
                                                <span class="label label-info">Select existing Quality # :</span>
                                                <br />
                                                <br />

                                                @*<div class="form-group">

                                                    <input type="text" id="txtQualityNo" class="form-control input-sm" placeholder="Enter existing Quality #" />

                                                    <ul class="todo-list ui-sortable">
                                                        <li>
                                                            <span class="text">42115</span>
                                                            <div class="tools">
                                                                <i class="fa fa-remove"></i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>*@

                                                <div class="form-group">
                                                    <div class="auto-complete">
                                                        <input type="text" class="form-control input-sm" id="txtQuality_No" placeholder="Enter quality code">
                                                        <input type="hidden" id="hdnQuality_Id" value="@(Model.Enquiry.Quality_Id == 0 ? "" : Model.Enquiry.Quality_Id.ToString())" name="Enquiry.Quality_Id" class="auto-complete-value">
                                                        <input type="hidden" id="hdnQuality_No" value="@Model.Enquiry.Quality_No" name="Enquiry.Quality_No" class="auto-complete-label">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    
                                                    <select id="drpExistingQualityArticleType" class="form-control input-sm">
                                                        <option>Select final Article type to create</option>
                                                        <option>G</option>
                                                        <option>P</option>
                                                        <option>C</option>
                                                    </select>
                                                </div>

                                                <div class="box-body table-responsive no-padding">
                                                    <table class="table table-striped" id="tblQuality_Details"></table>

                                                </div>


                                            </div>

                                            <div class="col-md-1 col-xs-1">
                                                <input type="radio" name="r1" id="rdbPPCCheckpoint" />
                                            </div>

                                            <div class="col-md-11 col-xs-11">
                                                <span class="label label-danger">Create new Quality</span>

                                                <br />
                                                <br />
                                                <div class="form-group">

                                                    <select id="drpArticleType" class="form-control input-sm" disabled>
                                                        <option>Select final Article type to create</option>
                                                        <option>G</option>
                                                        <option>P</option>
                                                        <option>C</option>
                                                    </select>
                                                </div>

                                            </div>


                                        </div>







                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div>
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Quality Details</h3>
                                    </div>

                                    <div class="box-body">

                                        <div class="row">

                                            <div class="col-md-12 col-xs-12">

                                                <div class="box-body table-responsive no-padding">

                                                    <table class="table table-striped">
                                                        <tr class="Customer_Quality">
                                                            <th style="width: 200px;">Customer Quality Details</th>
                                                            <th>Values</th>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>Width of Fabric</td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Width_Of_Fabric</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Shade
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Shades</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Print
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Prints</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Coating
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Coating</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Finish
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Finish</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>Customer Approved Sample                                                            </td>
                                                            <td>
                                                                <ul class="todo-list ui-sortable">
                                                                    <li>
                                                                        <span class="text">Sample1.jpg</span>
                                                                    </li>
                                                                    <li style="" class="">
                                                                        <span class="text">Sample2.jpg</span>
                                                                    </li>
                                                                </ul>

                                                            </td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Application
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Applications</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Market Segment
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Market_Segment</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Physical Appearance
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Physical_Appearance</td>
                                                        </tr>

                                                        <tr class="Customer_Quality">
                                                            <td>
                                                                Label / Tagging
                                                            </td>
                                                            <td>@Model.Enquiry.Temp_Customer_Quality_Details.Lable_Tagging</td>
                                                        </tr>

                                                        <tr>
                                                            <th style="width: 200px;">Quality Supporting Details</th>
                                                            <th>Values</th>
                                                        </tr>

                                                        <tr>
                                                            <td>Rate
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Rate</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Customer Roll Length
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Customer_Roll_Length</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Packing
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Packing</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Dispatch
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Dispatch</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Additional Customer Property
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Additional_Customer_Prop</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Source of Enquiry
                                                            </td>
                                                            <td>@Model.Enquiry.Supporting_Details.Source_Of_Enquiry</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Attached Emails
                                                            </td>
                                                            <td>
                                                                <ul class="todo-list ui-sortable">
                                                                    @*<li>
                                                                        <span class="text">Email1.pub</span>
                                                                    </li>
                                                                    <li style="" class="">
                                                                        <span class="text">Email2.pub</span>
                                                                    </li>
                                                                    <li style="" class="">
                                                                        <span class="text">Email3.pub</span>
                                                                    </li>*@
                                                                    @foreach(var item in Model.Enquiry.Attachments)
                                                                    {
                                                                        <li>
                                                                        <span class="text">@item.Document_Name</span>
                                                                    </li>
                                                                    }
                                                                        
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        @*<tr>
                                                            <td>Attached Files
                                                            </td>
                                                            <td>
                                                                <ul class="todo-list ui-sortable">
                                                                    <li>
                                                                        <span class="text">1.doc</span>
                                                                    </li>
                                                                    <li style="" class="">
                                                                        <span class="text">1.xlxs</span>
                                                                    </li>
                                                                    <li style="" class="">
                                                                        <span class="text">1.jpg</span>
                                                                    </li>
                                                                </ul>

                                                            </td>
                                                        </tr>*@
                                                    </table>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" id="btnSearch" class="btn btn-success">Save</button>
                            <a href="@Url.Action("Search", "Enquiry")" id="btnCancel" class="btn btn-warning" role="button">Cancle and Open Search</a>

                        </div>

                    </form>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
        </form>
</div>
<!-- /.content-wrapper -->







