@model Kusumgar.Models.EnquiryViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/Sales/Event/enquiry_search_events.js"></script>
<script src="/Scripts/Sales/Method/enquiry_search_methods.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Enquiry

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Sales</li>
            <li class="active">Enquiry Search</li>
        </ol>
    </section>
    <form id="frmSearch_Enquiry">
        <input type="hidden" id="hdnEnquiry_Id" value="@Model.Enquiry.Enquiry_Id" name="Enquiry.Enquiry_Id">
        <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdfEnquiry_Status_Id" value="@Model.Filter.Status_Id" name="Filter.Status_Id">
        <!-- Main content -->

        <section class="content">

            <!-- Enquiry Search -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtQualityNo">Quality No. : </label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtQuality_No" placeholder="Enter quality code" >
                                            <input type="hidden" id="hdnQuality_Id" value="@(Model.Filter.Quality_Id == 0 ? "" : Model.Filter.Quality_Id.ToString())" name="Filter.Quality_Id" class="auto-complete-value">
                                            <input type="hidden" id="hdnQuality_No" value="@Model.Filter.Quality_No" name="Filter.Quality_No" class="auto-complete-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCustomer_Name">Customer Name : </label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtCustomer_Name" placeholder="Enter customer name" >
                                            <input type="hidden" id="hdnCustomer_Id" value="@(Model.Filter.Customer_Id == 0 ? "" : Model.Filter.Customer_Id.ToString())" name="Filter.Customer_Id" class="auto-complete-value">
                                            <input type="hidden" id="hdnContact_Name" value="@Model.Filter.Customer_Name" name="Filter.Customer_Name" class="auto-complete-label">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group pull-left">
                                            <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Enquiry")" role="button">Create</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            @*<a class="btn btn-warning" href="@Url.Action("Level3", "Enquiry")" role="button">Level 3</a>
                                                <a class="btn btn-warning" href="@Url.Action("Level2", "Enquiry")" role="button">Level 2</a>
                                            *@

                                            <button type="button" class="btn btn-warning btn-sm" id="btnEdit" style="display:none">Edit</button>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning btn-sm">Filter by Stage</button>
                                                <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    @foreach (var item in LookupInfo.Get_Enquiry_Status())
                                                    {
                                                         <li><a href="#" id="@item.Key">@item.Value</a></li>
                                                    }
                                                   
                                                    @*<li><a href="#">Level 2 - Passed PPC Check-point</a></li>
                                                    <li><a href="#">Level 3 - Passed W Manager Check-point</a></li>
                                                    <li><a href="#">Level 4 - Passed P Manager Check-point</a></li>
                                                    <li><a href="#">Level 5 - Passed C Manager Check-point</a></li>
                                                    <li><a href="#">Level 6 - Temp. Quality Set Created</a></li>
                                                    <li><a href="#">Level 7 - Quality Assigned</a></li>
                                                    <li><a href="#">Level 8 - Planned</a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">

                            <table class="table table-striped" id="tblEnquiry">
                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th>Enquiry No</th>
                                    <th>Customer Name</th>
                                    <th>Quality No</th>
                                    <th>Quantity</th>
                                    <th>Delivary Date</th>
                                    <th>Stage</th>
                                </tr>


                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">

    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });


        $("#btnSearch").click(function () {
            $("#divSearchGridOverlay").show();
        });

        $("#divSearchGridOverlay").hide();
    });
</script>
