@model Kusumgar.Models.MaterialViewModel
@using KusumgarBusinessEntities.Common

<script src="/Scripts/Master/Event/material_search_event.js"></script>
<script src="/Scripts/Master/Method/material_search_method.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    
    
    @{Html.RenderPartial("_ServerMessage");}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Material

            <small>Search</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li>Masters</li>
            <li class="active">Material Search</li>
        </ol>
    </section>
    <form id="frmSearch_Prod">
        <input type="hidden" id="hdnMaterial_Id" name="Material_Id">
        <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
        <input type="hidden" id="hdMaterial_Id" name="Filter.Material_Id" />
        <input type="hidden" id="hdfMaterial_Name" name="Filter.Material_Name" />

        <input type="hidden" id="hdVendor_Id" name="Filter.Vendor_Id" />
        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtMaterialName">Material Name</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtMaterialName" placeholder="Enter material name"  >
                                            <input type="hidden" id="hdfMaterial_Id" value="@Model.Filter.Material_Id" name="Filter.Material_Id" class="auto-complete-value">
                                            <input type="hidden" id="hdnMaterial_Name" value="@Model.Filter.Material_Name" name="Filter.Material_Name" class="auto-complete-label">
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                        <label for="txtVendorName">Vendor Name</label>
                                        <div class="auto-complete">
                                            <input type="text" class="form-control input-sm" id="txtVendorName" placeholder="Enter vendor name">
                                            <input type="hidden" id="hdfVendor_Id" value="@Model.Filter.Vendor_Id" name="Filter.Vendor_Id" class="auto-complete-value">
                                            <input type="hidden" id="hdnVendor_Name" value="@Model.Filter.Vendor_Name" name="Filter.Vendor_Name" class="auto-complete-label">
                                        </div>
                                    </div>                                   
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="btn-group pull-left btn-group-sm">
                                                <button type="button" id="btnSearch" class="btn btn-success btn-sm">Search</button>
                                                <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Material")" role="button">Create </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right btn-group-sm">
                                            <button type="button" id="btnEdit" style="display:none;" class="btn btn-warning btn-sm">Edit </button>
                                            <button type="button" id="btnView_Vendor" style="display:none;" class="btn btn-primary btn-sm">View Vendor </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblProdGrid">
                                <tr id="subhead">
                                    <th></th>
                                    <th>Material Code</th>
                                    <th>Material Category Name</th>                                    
                                    <th>Material Name</th>                                    
                                    <th>Material Type</th>                                    
                                </tr>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                            <div id="divSearchGridOverlay" class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<!-- /.content-wrapper -->
